.head1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 10px;
    flex-direction: column;

}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.first{
    color: var(--second-color);
}
.third{
    color: var(--second-color);
    opacity: 0.7;
    text-align: center;
    margin-top: 10px;
}

.logo1{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 30px;
}

.section1{
    margin-top: 70px;
    width: 30pc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.second{
    text-align: center;
    color: var(--second-color);
}
.client2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    width: 80pc;
  
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 190px;
    width: 200px;
    
    
}

h2{
    margin-top: 10px;
    text-align: center;
    color: var(--second-color);
}
h6{
    margin-top: 10px;
    text-align: center;
    color: var(--second-color);
}
.client3{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-direction: row;
    width: 70pc;
    margin-top: 40px;
}

.section2{
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    height: 30pc;
    width: 30pc;
   
}
.fourth{
    color: var(--second-color);
}

.fifth{
    margin-top: 10px;
    text-align: left;
    color: var(--second-color);
    opacity: 0.7;
}

.learn{
    margin-top: 30px;
    background-color: var(--third-color);
    height: 50px;
    width: 130px;
    border: none;
    color: white;
    border-radius: 4px;
}

@media only screen and (max-width: 725px){
    .section1{
        margin-top: 70px;
        width: 20pc;
    
    }
    .client2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
        
      
    }
    .box{
        margin-top: 30px;
    }

    .client3{
        display: flex;
        justify-content:  space-between;
        align-items: center;
        flex-direction: column;
        width: 40pc;
        margin-top: 40px;
    }
    .section2{
        width: 25pc;
        height: 20pc;
    }
.frame{
    height: 25pc;
    width: 25pc;
}
    

}


