.section3{
    margin-top: 30px;
    width: 100%;
    height: 25pc;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.sec1{
    color: var(--second-color);
}

.hline1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20pc;
    margin-left: 170px;
}

.sec2{
    text-align: left;
}

.c1{
    display: flex;
    justify-content:left ;
    align-items: center;
    flex-direction: row;
    width: 300px;
    margin-top: 20px;
     
}

.counts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40pc;
}

.subcounts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.hline2{
    padding-left: 15px;
}

.himg{
    height: 40px;
    width: 40px;
}

.sec4{
    margin-top: 0;
    text-align: left;
    color: var(--second-color);
}

.sec3{
    color: var(--second-color);
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33pc;
    padding-bottom: 10px;
    overflow-y: hidden;
}



.rec{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
}

.timg{
margin-top: 10px;    
}

.section5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 65pc;
}
.hline3{
    width: 30pc;
    height: 26pc;
    margin-top: 4pc;
    margin-right: 30px;
}

.sec5{
    height: 230px;
    width: 30pc;
    text-align: left;
    padding-bottom: 0px;
    color: var(--second-color);
    padding-top: 20px;
    
}

.sec7{
    text-align: left;
    color: var(--second-color);
    opacity: 0.5;
    margin: 0%;
    padding-top: 10px;
}

.hline4{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30pc;

}

.link{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 0%;
    padding-right: 0%;
    width: 80px;
}


@media only screen and (max-width: 725px){
    .section3{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 30pc;
    }
    .hline1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 22pc;
        margin-left: 10px;
    }
    .counts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40pc;
    }
    
    .subcounts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .section4{
        height: 50pc;
        
    }

    .section5{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 30pc;
        height: 48pc;
    }

    .timg{
          height: 20pc;
          width: 18pc;
          padding-bottom: 0%;
          margin-top: 30px;
    }
    .hline3{
        width: 25pc;
        height: 35pc;
    }
    .sec5{
        height: 310px;
        width: 25pc;
        text-align: left;
        margin-left: 10px;
        padding-top: 0%;
    }

    .hline4{
        width: 25pc;
    }
}