.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 45pc;
  background-color: var(--first-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20%;
  margin-left: 0%;
  margin-bottom: 8%;
}

.head h1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: var(--second-color);
}

span {
  color: var(--third-color);
}

h5 {
  padding: 0%;
  margin-top: 20px;
  color: var(--second-color);
  opacity: 0.7;
  width: 100%;
}
.register {
  margin-top: 20px;
  padding: 12px 22px;
  color: white;
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  margin-right: 83%;
}
.hero2 {
  margin-bottom: 8%;
}

.hero2 > img{
      height: 25pc;
      width: 25pc;
}

@media only screen and (max-width: 725px){

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50pc;
    padding-top: -30px;
  }

  .hero{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin-top: 10%;
    margin-left: 20%;
    width: 100vw;
  }

  .head h1 {
    font-size: 3pc;
    letter-spacing: 1px;
    margin-left: 10px;
    text-align: center;
  }

  .register {
    margin-top: 20px;
    margin-left: 80%;
    padding: 12px 22px;
    
  }

  .hero > h5{
text-align: center;
  }

  .hero2 > img{
    height: 20pc;
    width: 20pc;
}
  
}

@media only screen and (min-width: 725px) and (max-width: 1260px){

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45pc;
    
  }

  .hero{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
  text-align: center;
  width: 100vw;
  }
  .head h1 {
    font-size: 60px;
   
  }

  .hero2{
    width: 25pc;
    height: 30pc;
    margin-right: 5%;
  }

  .hero2  img{
    margin-top: 50px;
    width: 250px;
    height: 300px;
}
.register {
  margin-top: 20px;
  margin-left: 80%;
  padding: 12px 22px;
  
}

}
