.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: var(--first-color);
}

.navbar .logo{
    margin-right: 90px;
    width: 250px;
}
.navbar .logo img{
    margin-left: 10px;
    margin-bottom: 10px;
}

.hamberger{
    display: none;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.navbar li {
    
    list-style: none;
    padding-left: 3pc;
}

.navbar div{
   margin-right: 5vw;
   margin-bottom: 10px;
}

.navbar div  button{

    padding: 7px;
    margin-left: 15px;
}

#log{
    background-color: var(--first-color);
    border: none;
    color: var(--third-color);
}
#sig{
    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

@media only screen and (max-width: 1024px){

    .navbar ul{
        display: none;
    }

    .navbar .logo{
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamberger{
        display: inline;
        height: 50px;
        width: 25px;
        margin-top: 15px;
        font-size: 30px
    }
    .navbar .logo img{
        margin-left: 10px;
        
    }


}